<form method="get" action="#"
      th:fragment="contest-form-sort" th:action="${requestURI}">
  <div class="input-group input-group">
    <input type="text" class="form-control" placeholder="Title" name="title">
    <input type="text" class="form-control" placeholder="Category" name="category">
    <select class="form-select" id="inputGroupType" name="type">
      <option selected value="all">All Types</option>
      <option value="true">Invitational</option>
      <option value="false">Open</option>
    </select>
    <select class="form-select" id="inputGroupPhase" name="phase">
      <option selected value="all">All Phases</option>
      <option value="phase1">Phase 1</option>
      <option value="phase2">Phase 2</option>
      <option value="finished">Finished</option>
    </select>
    <select class="form-select" id="inputGroupSort" name="sort">
      <option selected value="">Sort by</option>
      <option value="id">ID</option>
      <option value="title">Title</option>
      <option value="category.name">Category</option>
    </select>
    <button class="btn btn-warning" type="submit">Filter</button>
  </div>
</form>