<form  method="post" enctype="multipart/form-data"
      th:fragment="contest-create" th:action="${requestURI}" th:object="${contest}"
      th:with="ctxCreate=${context == 'contest-create'},
               ctxUpdate=${context == 'contest-update'}"
>
  <div class="form-floating my-3">
    <input type="text" class="form-control" id="floatingInputTitle" name="title" placeholder="Some good title..." th:field="*{title}" th:errorclass="is-invalid">
    <label for="floatingInputTitle">Some good title...</label>
    <div id="validationTitle" class="invalid-feedback" th:errors="*{title}">Error placeholder</div>
  </div>
  <div class="form-floating mb-3">
    <select class="form-select" id="floatingSelectCategory" name="category" th:field="*{categoryId}" th:errorclass="is-invalid">
      <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <label for="floatingSelectCategory">Click to select category</label>
    <div id="validationCategory" class="invalid-feedback" th:errors="*{title}">Error placeholder</div>
  </div>
  <div class="form-floating mb-3 row">
    <div class="col-md-6 mb-3 mb-md-0">
      <div class="input-group">
        <input type="text" class="form-control" id="inputPhotoURL" placeholder="Cover Photo URL" th:field="*{coverPhoto}">
        <button th:if="${ctxUpdate}" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#selectPhotoModal">Select Photos</button>
      </div>

      <!-- Modal -->
      <div th:if="${ctxUpdate}" class="modal fade" id="selectPhotoModal" tabindex="-1" aria-labelledby="selectPhotoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content text-bg-dark">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-warning" id="selectPhotoModalLabel">Select Cover Photo</h1>
            </div>
            <div class="modal-footer">
              <span th:if="${#lists.isEmpty(contest.contestPhotos)}">No photos in this contest yet...</span>
              <img src="#" alt="#" width="200" th:each="photo : ${contest.contestPhotos}" class="img-thumbnail m-1" data-bs-dismiss="modal" th:src="${photo}" onclick="selectPhoto(this)">
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <input type="file" class="form-control" id="inputPhotoUpload" name="file" th:field="*{coverPhotoUpload}" accept=".jpeg, .jpg, .png">
    </div>
  </div>

  <div class="input-group mb-3" th:if="${ctxCreate}">
    <span class="input-group-text d-none d-lg-block">Phase 1</span>
    <div class="form-floating">
      <input type="datetime-local" class="form-control" id="floatingInputPhase1" th:field="*{phase1}" th:errorclass="is-invalid">
      <label for="floatingInputPhase1">In the future (in range 1 day - 1 month)</label>
      <div id="validationPhase1" class="invalid-feedback" th:errors="*{phase1}">Error placeholder</div>
    </div>
    <span class="input-group-text d-none d-lg-block">Phase 2</span>
    <div class="form-floating">
      <input type="datetime-local" class="form-control" id="floatingInputPhase2" th:field="*{phase2}" th:errorclass="is-invalid">
      <label for="floatingInputPhase2">After Phase 1 ( in range 1 hour - 1 day)</label>
      <div id="validationPhase2" class="invalid-feedback" th:errors="*{phase2}">Error placeholder</div>
    </div>
  </div>
  <div class="form-floating mb-3" id="invitational" th:if="${ctxCreate}">
    <div class="list-group">
      <label class="list-group-item d-flex gap-3">
        <input class="form-check-input flex-shrink-0" type="checkbox" value="false" th:field="*{invitational}" th:errorclass="is-invalid">
        <span class="form-checked-content">
          <strong>Invitational</strong>
          <small class="text-body-secondary">
            Only invited users can participate
          </small>
        </span>
      </label>
    </div>
    <div id="validationInvitational" class="invalid-feedback" th:errors="*{invitational}">Error placeholder</div>
  </div>
  <div class="form-floating mb-3" th:if="${ctxCreate}">
    <select class="form-select" id="floatingJurySelect" name="juries" multiple th:field="*{juries}" th:errorclass="is-invalid">
      <option th:each="jury : ${juries}" th:value="${jury.username}" th:text="${jury.username}"></option>
    </select>
    <label for="floatingJurySelect">Select jury (multiple)</label>
    <div id="validationSelectJury" class="invalid-feedback" th:errors="*{juries}">Error placeholder</div>
  </div>
  <button class="btn btn-lg btn-warning mx-auto d-flex align-items-center justify-content-between mt-3" id="submit-button" type="submit">
    <span class="spinner-border spinner-border" id="spinner-loading" role="status" aria-hidden="true"></span>
    <span class="px-3" th:text="${ctxCreate ? 'Create Contest' : 'Update Contest'}"></span>
  </button>
</form>


<form th:fragment="contest-enlist" th:action="${requestURI}" method="post" th:object="${user}"
      th:with="addJury=${requestURI.endsWith('/add-jury')},
                   addParticipant=${requestURI.endsWith('/add-participant')}"
>
  <div class="form-floating">
    <div class="input-group">
      <input type="text" class="form-control" id="floatingUsername" placeholder="Username" name="username"
             th:errorclass="is-invalid" th:field="*{username}">
      <button class="btn btn-lg btn-warning" type="submit" th:text="${addJury ? 'Add Jury' : 'Add Participant'}">Add User (design)</button>
      <div id="validationUsername" class="invalid-feedback" th:errors="*{username}">Error placeholder</div>
    </div>
  </div>
</form>


<form method="get" action="#"
      th:fragment="contest-form-sort" th:action="${requestURI}"
>
  <div class="input-group input-group">
    <a class="btn btn-warning" href="#" th:href="@{/contests/create}">Create</a>
    <input type="text" class="form-control" placeholder="Title" name="title">
    <input type="text" class="form-control" placeholder="Category" name="category">
    <select class="form-select" id="inputGroupType" name="type">
      <option selected value="all">All Types</option>
      <option value="true">Invitational</option>
      <option value="false">Open</option>
    </select>
    <select class="form-select" id="inputGroupPhase" name="phase">
      <option selected value="all">All Phases</option>
      <option value="phase1">Phase 1</option>
      <option value="phase2">Phase 2</option>
      <option value="finished">Finished</option>
    </select>
    <select class="form-select" id="inputGroupSort" name="sort">
      <option selected value="">Sort by</option>
      <option value="id">ID</option>
      <option value="title">Title</option>
      <option value="category.name">Category</option>
    </select>
    <button class="btn btn-warning" type="submit">Filter</button>
  </div>
</form>