<header class="fixed-top"
        th:fargment="header"
        th:with="ctxHome=${context == 'home'},
                 ctxDashboard=${context == 'dashboard'},
                 ctxContests=${context == 'contests'}"
>
    <div class="px-3 py-2 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-lg-flex d-none align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img class="rounded me-2 mb-xl-0 mb-2" src="../../static/images/PC_logo.png" height="64px" alt="FMS"
                         th:src="@{/images/PC_logo.png}">
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li class="px-1">
                        <a href="/" class="nav-link rounded" th:href="@{/}" th:classappend="${ctxHome ? 'active-nav-link' : 'text-warning'}">
                            <span class="bi d-block mx-auto mb-1"><i class="bi bi-house-door"></i></span>
                            <span class="text-icon-item">Home</span>
                        </a>
                    </li>
                    <li class="px-1">
                        <a href="/dashboard" class="nav-link rounded" th:if="${session.isAuthenticated}" th:href="@{/users/{id}(id=${session.userId})}" th:classappend="${ctxDashboard ? 'active-nav-link' : 'text-warning'}">
                            <span class="bi d-block mx-auto mb-1"><i class="bi bi-speedometer2"></i></span>
                            <span class="text-icon-item">Dashboard</span>
                        </a>
                        <a href="/dashboard" class="nav-link rounded" th:if="${!session.isAuthenticated}" th:href="@{/auth/login}" th:classappend="${ctxDashboard ? 'active-nav-link' : 'text-warning'}">
                            <span class="bi d-block mx-auto mb-1"><i class="bi bi-speedometer2"></i></span>
                            <span class="text-icon-item">Dashboard</span>
                        </a>
                    </li>
                    <li class="px-1">
                        <a href="/contests" class="nav-link rounded" th:href="@{/contests}" th:classappend="${ctxContests ? 'active-nav-link' : 'text-warning'}">
                            <span class="bi d-block mx-auto mb-1"><i class="bi bi-camera2"></i></span>
                            <span class="text-icon-item">Contests</span>
                        </a>
                    </li>
                    <li class="px-1">
                        <a class="nav-link rounded text-warning" th:if="${!session.isAuthenticated}" th:href="@{/auth/login}">
                            <span class="bi d-block mx-auto mb-1"><i class="bi bi-box-arrow-in-right"></i></span>
                            <span class="text-icon-item">Log in</span>
                        </a>
                        <a class="nav-link rounded text-warning" th:if="${session.isAuthenticated}" th:href="@{/auth/logout}">
                            <span class="bi d-block mx-auto mb-1"><i class="bi bi-box-arrow-left"></i></span>
                            <span class="text-icon-item">Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>