<form th:fragment="photo-form-new" action="#" th:action="${requestURI}" method="post"
      enctype="multipart/form-data" th:object="${photo}">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" th:field="*{title}">
    <label class="text-danger" th:errors="*{title}">Name error placeholder</label>
  </div>
  <div class="mb-3">
    <label class="form-label" for="floatingContent">Story</label>
    <textarea class="form-control" id="floatingContent" placeholder="Story" th:field="*{story}"></textarea>
    <label class="text-danger" th:errors="*{story}">Name error placeholder</label>
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Photo file</label>
    <input class="form-control" type="file" id="formFile" th:field="*{file}">
    <label class="text-danger" th:errors="*{file}">Name error placeholder</label>
  </div>
  <button class="btn btn-success input-group-text" type="submit" name="action" value="save"
          style="width: 100px" onclick="onSubmit()">Save
  </button>
  <script th:replace="~{fragments/scripts :: quilljs}"></script>
</form>
