<form th:fragment="photo-form-new" action="#" th:action="${requestURI}" method="post"
      enctype="multipart/form-data" th:object="${photo}">
  <div class="form-floating my-3">
    <input type="text" class="form-control" id="floatingInputTitle" name="title" placeholder="Some good title..." th:field="*{title}" th:errorclass="is-invalid">
    <label for="floatingInputTitle">Some good title...</label>
    <div id="validationTitle" class="invalid-feedback" th:errors="*{title}">Error placeholder</div>
  </div>
  <div class="form-floating my-3">
    <textarea class="form-control" id="floatingInputStory" name="story" placeholder="Story" th:field="*{story}" th:errorclass="is-invalid"></textarea>
    <label for="floatingInputStory">Story</label>
    <div id="validationStory" class="invalid-feedback" th:errors="*{story}">Error placeholder</div>
  </div>
  <div class="form-floating mb-3 row">
    <div class="col-md-6">
      <input type="file" class="form-control" id="inputPhotoUpload" th:field="*{file}" name="file" accept=".jpeg, .jpg, .png" th:errorclass="is-invalid">
      <div id="validationFile" class="invalid-feedback" th:errors="*{file}">Error placeholder</div>
    </div>
  </div>
  <a role="button" data-bs-toggle="modal" data-bs-target="#createModalToggle">
    <span class="spinner-border spinner-border" id="spinner-loading" role="status" aria-hidden="true"></span>
    <button class="btn btn-lg btn-warning mx-auto d-flex align-items-center justify-content-between mt-3" th:text="#{navbar.photo.create}">Create Photo</button>
  </a>

  <div class="modal fade" id="createModalToggle" data-bs-backdrop="static" aria-hidden="true"
       aria-labelledby="createModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">Confirm Upload</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Once the photo is uploaded, it cannot be edited. Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-warning" type="submit">Upload Photo</button>
        </div>
      </div>
    </div>
  </div>
</form>
