<form th:fragment="photo-review-form" action="#" th:action="${requestURI}" th:object="${review}" method="post">
  <div class="form-floating my-3">
    <textarea class="form-control" id="floatingInputTitle" name="comment" placeholder="Comment" th:field="*{comment}" th:errorclass="is-invalid"></textarea>
    <label for="floatingInputTitle">Comment</label>
    <div id="validationTitle" class="invalid-feedback" th:errors="*{comment}">Error placeholder</div>
  </div>
  <div class="form-floating mb-3" id="fitsCategory">
    <div class="list-group">
      <label class="list-group-item d-flex gap-3">
        <input class="form-check-input flex-shrink-0" type="checkbox" value="false" th:field="*{fitsCategory}" th:errorclass="is-invalid">
        <span class="form-checked-content">
          <strong>Fits Category</strong>
          <small class="text-body-secondary">
            If not checked, the photo will receive a score of "0".
          </small>
        </span>
      </label>
    </div>
  </div>
  <div class="form-floating">
    <input type="number" class="form-control" min="1" max="10" id="number" th:field="*{score}" th:errorclass="is-invalid">
    <label for="number">Score</label>
    <div id="validationPhase2" class="invalid-feedback" th:errors="*{score}">Error placeholder</div>
  </div>
  <a role="button" data-bs-toggle="modal" data-bs-target="#createModalToggle">
    <span class="spinner-border spinner-border" id="spinner-loading" role="status" aria-hidden="true"></span>
    <button class="btn btn-lg btn-warning mx-auto d-flex align-items-center justify-content-between mt-3" th:text="#{photo-review.create}">Create Review</button>
  </a>

  <div class="modal fade" id="createModalToggle" data-bs-backdrop="static" aria-hidden="true"
       aria-labelledby="createModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">Confirm Review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Once the photo review is uploaded, it cannot be edited. Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-warning" type="submit">Upload Review</button>
        </div>
      </div>
    </div>
  </div>
</form>
