<div th:fragment="photos-view" class="album">
  <div class="container px-5 py-3">
    <form th:replace="~{fragments/photos-search :: photos-search}"></form>
  </div>
  <div class="container py-5">
    <div class="row row-cols-1 row-cols-sm-2 g-3">
      <th:block th:each="photo : ${photos}">
        <div class="col rounded-4">
          <div class="card shadow-sm">
            <div class="card-header bg-warning text-dark" th:text="${#strings.length(photo.title) > 30 ? #strings.substring(photo.title, 0, 30) + '...' : photo.title}">Title (design)</div>
            <img src="#" alt="#" class="img-fluid" th:src="${photo.photo}" th:alt="${photo.title}" />
            <div class="card-body bg-dark rounded-bottom">
              <p class="card-text text-warning" th:text="${photo.story}"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a th:if="${phase2}" href="#" type="button" class="btn btn-sm btn-outline-warning" th:href="@{/contests/{contestId}/photos/{photoId}/review(contestId=${contest.id},photoId=${photo.id})}">Rate</a>
                  <button type="button" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal" data-bs-target="#photoView">View</button>
                </div>
                <a class="link-warning" href="#" th:href="@{/users/{id}(id=${photo.userCreated.id})}" th:text="${photo.userCreated.username}">Username (design)</a>
              </div>
              <div th:class="'collapse'" th:id="'collapseResults-' + ${photo.id}">
              </div>
            </div>
          </div>
        </div>
      </th:block>
    </div>
  </div>

  <!-- Modal Window for Photo View -->
  <div class="modal fade" id="photoView" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
      <div class="modal-content bg-dark rounded-4">
        <div class="modal-body">
          <img class="img-fluid" src="#" alt="#">
        </div>
        <div class="modal-footer">
          <div class="d-flex gap-2 w-100 justify-content-between py-1">
            <div class="btn-group">
              <button class="btn btn-warning text-truncate" type="button" style="width: 100px">Story</button>
              <button class="btn btn-outline-warning photo-story" type="button"></button>
            </div>
            <div>
              <div class="btn-group pt-1">
                <button class="btn btn-warning" type="button">Copy URL</button>
                <button class="btn btn-outline-warning copy-btn" type="button"><i class="bi bi-clipboard-fill"></i></button>
              </div>
              <div class="btn-group pt-1">
                <button class="btn btn-warning" type="button">Open IMG</button>
                <a href="#" class="btn btn-outline-warning" target="_blank"><i class="bi bi-image-fill"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation"
       th:if="${totalPages > 0}"
       th:with="pageQuery=${'?page='},
                      sizeQuery=${'&size='},
                      titleQuery=${'&title='},
                      linkQuery=${sizeQuery + sizePage + titleQuery} + ${title == null ? '' : title}">
    <ul th:replace="~{fragments/pagination :: pagination}"></ul>
  </nav>
</div>