<!-- JavaScript Bootstrap Bundle with Popper -->
<script th:fragment="bootstrap" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

<!-- Script for Error Page Animation -->
<script th:fragment="error-page">
  document.body.addEventListener('mousemove', function (event) {
    const eyes = document.querySelectorAll('.eye');
    eyes.forEach(function (eye) {
      const x = (eye.offsetLeft) + (eye.offsetWidth / 2);
      const y = (eye.offsetTop) + (eye.offsetHeight / 2);
      const rad = Math.atan2(event.pageX - x, event.pageY - y);
      const rot = (rad * (180 / Math.PI) * -1) + 180;
      eye.style.transform = 'rotate(' + rot + 'deg)';
    });
  });
</script>

<!-- Script for Opening Photo in Modal Window -->
<script th:fragment="photo-view">
    document.addEventListener("DOMContentLoaded", function() {
        const viewButtons = document.querySelectorAll("[data-bs-target='#photoView']");
        viewButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                const photo = this.closest(".card").querySelector("img").getAttribute("src");
                const photoStory = this.closest(".card").querySelector(".card-text").innerText;
                document.querySelector("#photoView img").setAttribute("src", photo);
                document.querySelector("#photoView a").setAttribute("href", photo);
                document.querySelector("button.photo-story").innerText = photoStory;
            });
        });

        const copyButton = document.querySelector("#photoView .copy-btn");
        copyButton.addEventListener("click", function() {
            const photo = document.querySelector("#photoView img").getAttribute("src");
            navigator.clipboard.writeText(photo).then(function() {
                console.log('Image Src Copied');
            }, function() {
                console.log('Unable to copy Image Src');
            });
        });
    });
</script>

<!-- Script for Spinner Animation Show -->
<script th:fragment="loading-spinner">
    const submitButton = document.getElementById("submit-button");
    submitButton.addEventListener("click", function() {
        const spinner = document.getElementById("spinner-loading")
        spinner.style.display = 'inline-block';
    });
</script>

<!--Facebook Sharing Button-->
<script th:fragment="facebook-sharing">
    const contestUrl = window.location.href;
    const shareBtns = document.querySelectorAll('.fb-share-button');
    shareBtns.forEach(function(shareBtn) {
        const winnerImg = shareBtn.closest('.card-img-overlay').previousElementSibling;
        const imgUrl = winnerImg.getAttribute('src');
        const urlLink = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(contestUrl)}&picture=${encodeURIComponent(imgUrl)}&src=sdkpreparse`;
        shareBtn.setAttribute('data-href', urlLink);
        shareBtn.querySelector('a').setAttribute('href', urlLink);
    });
</script>

<!-- Script for Quill with Highlight -->
<script th:fragment="quilljs">
    var formattedText = document.getElementById("floatingContent").value;

    var quill = new Quill('#editor', {
        modules: {
            clipboard: {
                matchVisual: true
            },
            toolbar: [
                [{header: [1, 2, 3, 4, false]}],
                ['bold', 'italic', 'underline', 'code-block', 'link'],
                [{'list': 'ordered'}, {'list': 'bullet'}],
                [{'color': []}, {'background': []}],
                ['clean']
            ]
        },
        placeholder: 'Compose an epic...',
        theme: 'snow'  // or 'bubble'
    });

    quill.on('text-change', function () {
        document.getElementById("floatingContent").value = quill.getText();
        formattedText = quill.root.innerHTML;
    });

    quill.setContents(quill.clipboard.convert(formattedText));

    function onSubmit() {
        var text = quill.getText();
        var minChars = 32;
        var maxChars = 8196;

        if (text.length < minChars || text.length > maxChars) {
            quill.root.innerHTML = formattedText;
            return false;
        }

        document.getElementById("floatingContent").value = quill.root.innerHTML;
        return true;
    }
</script>
<script th:fragment="textarea-expand">
    const tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
        tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
        tx[i].addEventListener("input", OnInput, false);
    }

    function OnInput() {
        this.style.height = 0;
        this.style.height = (this.scrollHeight) + "px";
    }
</script>
