<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="#{page.title.contest}">Title (design)</title>
  <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body class="contest-view d-flex flex-column min-vh-100">

<!--Facebook Sharing Button-->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0" nonce="ja7ktFwi"></script>

<header th:replace="~{fragments/navbar :: header(context='contest-view')}"></header>
<main th:with="phase1=${contest.dateCreated.isBefore(#temporals.createNow()) && contest.phase1.isAfter(#temporals.createNow())},
                    phase2=${contest.phase1.isBefore(#temporals.createNow()) && contest.phase2.isAfter(#temporals.createNow())}">

  <section class="my-3 mx-auto text-center bg-dark container rounded-4 contest-view-section"
           th:style="${(contest.coverPhoto != null && contest.coverPhoto.startsWith('http')) ? 'background-image: url(' + contest.coverPhoto + ')' : ''}">
    <div class="row py-5">
      <div class="col col-xl-8 mx-auto position-relative">
        <div class="position-absolute top-0 start-50 translate-middle">
          <div class="btn-group" role="group" th:if="${session.user.organizer}">
            <a href="#" class="btn btn-sm btn-warning" th:if="${phase1}" th:href="@{${requestURI} + '/update'}"><i class="bi bi-pencil-square"></i></a>
            <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteContest" th:if="${phase1}"><i class="bi bi-x-square"></i></button>
          </div>
          <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#participantsModal"><i class="bi bi-people"></i></button>
        </div>
        <h1 class="fw-light neon-text display-1" th:text="${contest.title}">Contest title (design)</h1>

        <div class="d-flex justify-content-evenly mt-3">

          <ul class="d-flex list-unstyled mt-auto">
            <li class="d-flex align-items-center me-3">
              <span class="badge d-flex align-items-center p-1 pe-2 text-dark bg-warning border border-warning rounded-pill">
                <i class="bi" th:classappend="${contest.invitational ? 'bi-lock-fill' : 'bi-unlock-fill'}"></i>
                <span class="vr mx-1"></span>
                <small th:text="${contest.invitational ? 'Invitational' : 'Open'}">Open (design)</small>
              </span>
            </li>
            <li class="d-flex align-items-center me-3">
              <span class="badge d-flex align-items-center p-1 pe-2 text-dark bg-warning border border-warning rounded-pill">
                <i class="bi bi-tag-fill"></i>
                <span class="vr mx-1"></span>
                <small th:text="${contest.category}">Category (design)</small>
              </span>
            </li>
            <li class="d-flex align-items-center">
              <span class="badge d-flex align-items-center p-1 pe-2 text-dark bg-warning border border-warning rounded-pill">
                <i class="bi bi-clock-fill"></i>
                <span class="vr mx-1"></span>
                <small th:if="${phase1}">Phase I</small>
                <small th:if="${phase2}">Phase II</small>
                <small th:if="${contest.isFinished}">Finished</small>
              </span>
            </li>
          </ul>

        </div>

        <div class="btn-group mt-3" role="group">
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#photoWinners" th:if="${contest.isFinished}">Winners</button>
          <a type="button" class="btn btn-warning" th:if="${phase1 && !contest.invitational && !session.user.organizer && !contest.isFinished && !contest.participants.contains(session.user.username)}" th:href="@{${requestURI} + '/join'}">Participate</a>
          <a type="button" class="btn btn-warning disabled" th:if="${phase1 && contest.invitational && !contest.isFinished && !session.user.organizer && !contest.participants.contains(session.user.username)}">Invitational</a>
          <button type="button" class="btn btn-warning disabled" th:if="${phase1 && !contest.isFinished && session.user.organizer}">Invite</button>
          <a type="button" class="btn btn-outline-warning" th:if="${phase1 && !contest.isFinished && session.user.organizer}" th:href="@{${requestURI} + '/add-participant'}">User</a>
          <a type="button" class="btn btn-outline-warning" th:if="${phase1 && !contest.isFinished && session.user.organizer}" th:href="@{${requestURI} + '/add-jury'}">Jury</a>
          <a type="button" class="btn btn-warning" th:if="${phase1 && !contest.isFinished && contest.participants.contains(session.user.username)}" th:href="@{${requestURI} + '/photos/new'}">Upload</a>
          <button type="button" class="btn btn-dark disabled neon-text" th:if="${phase1 && !phase2}" th:text="${phase1Ends}">Closed in (design)</button>
          <button type="button" class="btn btn-warning disabled" th:if="${phase2}">Scoring</button>
          <button type="button" class="btn btn-dark disabled neon-text" th:if="${phase2}" th:text="${phase2Ends}">Until (design)</button>
        </div>

      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-lg-2 g-3">
        <th:block th:each="photo : ${contest.photos}">
          <div class="col rounded-4">
            <div class="card shadow-sm">
              <div class="card-header bg-warning text-dark" th:text="${photo.get('title')}">Title (design)</div>
              <img src="#" alt="#" class="img-fluid" th:src="${photo.get('photo')}" th:alt="${photo.get('title')}" />
              <div class="card-body bg-dark rounded-bottom">
                <p class="card-text text-warning" th:text="${photo.get('story')}"></p>
                <div class="d-flex justify-content-between align-items-center">
                  <button th:if="${contest.isFinished()}" class="btn btn-sm btn-warning" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapseResults-' + ${photo.get('id')}" aria-expanded="false" th:aria-controls="'collapseResults-' + ${photo.get('id')}">
                    Results
                  </button>
                  <div class="btn-group">
                    <a th:if="${phase2 && contest.juries().contains(session.currentUser)}" href="#" type="button" class="btn btn-sm btn-outline-warning" th:href="@{/contests/{contestId}/photos/{photoId}/review(contestId=${contest.id},photoId=${photo.get('id')})}">Rate</a>
                    <button type="button" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal" data-bs-target="#photoView">View</button>
                    <button th:if="${!contest.isFinished() && (contest.juries().contains(session.currentUser) ||
                    photo.get('userCreated').equals(session.currentUser))}"
                            type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deletePhotoModal" th:data-bs-target="'#deletePhotoModal-' + ${photo.get('id')}">Delete</button>
                  </div>
                  <span class="text-muted" th:if="${#strings.startsWith(photo.get('userCreated'), 'deleted')}">anonymous</span>
                  <a class="link-warning" href="#" th:unless="${#strings.startsWith(photo.get('userCreated'), 'deleted')}" th:href="@{/users/{id}(id=${photo.get('userId')})}" th:text="${photo.get('userCreated')}">Username (design)</a>
                </div>

                <!-- Modal Window for Delete Photo Confirmation -->
                <div class="modal fade" id="deletePhotoModal" tabindex="-1" aria-labelledby="deletePhotoModal" aria-hidden="true" th:id="'deletePhotoModal-' + ${photo.get('id')}">
                  <div class="modal-dialog modal-dialog-centered modal-sm deletePhotoModal">
                    <div class="modal-content bg-dark">
                      <div class="modal-header bg-dark">
                        <h1 class="modal-title fs-5 text-warning">Delete Photo</h1>
                      </div>
                      <div class="modal-footer bg-dark">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-warning">Are you sure?</button>
                          <a type="button" class="btn btn-sm btn-danger" th:href="@{/contests/{contestId}/photos/{photoId}/delete(contestId=${contest.id},photoId=${photo.get('id')})}">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div th:class="'collapse'" th:id="'collapseResults-' + ${photo.get('id')}">
                  <div class="mt-2 bg-dark text-warning">
                    <th:block th:each="result : ${contest.results}">

                      <th:block th:if="${result.photoId == photo.get('id')}" th:each="jury : ${result.juries}">
                        <div class="card text-bg-dark mb-3 results-section">
                          <div class="d-flex gap-2 w-100 justify-content-between">

                            <div class="btn-group jury-comment">
                              <button type="button" class="btn btn-sm btn-warning">Comment</button>
                            </div>

                            <div class="btn-group jury-score">
                              <button type="button" class="btn btn-sm btn-warning">Jury</button>
                              <button type="button" class="btn btn-sm btn-outline-warning" th:text="${jury.get('jury')}">Username (design)</button>
                              <button type="button" class="btn btn-sm btn-outline-warning" th:text="${jury.get('score')}">Score (design)</button>
                              <button type="button" class="btn btn-sm btn-warning">Score</button>
                            </div>

                          </div>
                          <div class="card-body text-bg-warning rounded-bottom">
                              <p class="card-text" th:text="${jury.get('comment')}">Comment (design)</p>
                          </div>
                        </div>
                      </th:block>

                      <div class="text-center">
                        <div class="btn-group" th:if="${result.photoId == photo.get('id')}">
                          <button type="button" class="btn btn-warning">Total Score</button>
                          <button type="button" class="btn btn-outline-warning" th:text="${result.totalScore}">Score (design)</button>
                        </div>
                      </div>
                    </th:block>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th:block>
      </div>

    </div>
  </div>

</main>

<!-- Modal Window for showing Participants -->
<div class="modal fade" id="participantsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header bg-dark">
        <h1 class="modal-title fs-5 text-warning">Enlisted Users</h1>
      </div>
      <div class="modal-footer bg-dark">
        <div class="btn-group mb-2 w-100 flex-wrap">
          <button type="button" class="btn btn-sm btn-warning mb-1">Juries</button>
          <button type="button" class="btn btn-sm btn-outline-warning disable mb-1" th:each="jury : ${contest.juries}" th:text="${jury}">Juries (design)</button>
        </div>
        <div class="btn-group w-100 flex-wrap">
          <button type="button" class="btn btn-sm btn-warning mb-1">Participants</button>
          <button type="button" class="btn btn-sm btn-outline-warning disable mb-1" th:if="${contest.participants.isEmpty()}">None</button>
          <button type="button" class="btn btn-sm btn-outline-warning disable mb-1" th:each="participant : ${contest.participants}" th:text="${participant}">Participants (design)</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Window for Delete Confirmation -->
<div class="modal fade" id="deleteContest" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content bg-dark">
      <div class="modal-header bg-dark">
        <h1 class="modal-title fs-5 text-warning">Delete Contest</h1>
      </div>
      <div class="modal-footer bg-dark">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-warning">Are you sure?</button>
          <a type="button" class="btn btn-sm btn-danger" th:href="@{${requestURI} + '/delete'}">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Window for Winners View -->
<div class="modal fade" id="photoWinners" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content bg-dark rounded-4">
      <div class="modal-body">
        <th:block th:each="winner : ${contest.winners}">
          <div class="card text-bg-dark my-2">
            <img src="#" th:src="${winner.get('photo')}" class="card-img" alt="#" th:alt="${winner.get('userCreated')}">
            <div class="card-img-overlay">
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-dark text-warning" th:text="${winner.get('userCreated')}">Username (design)</button>
                <div th:if="${winner.get('userCreated') == session.user.username}" class="fb-share-button" data-href="" data-layout="button" data-size="">
                  <a target="_blank" href="#" class="fb-xfbml-parse-ignore btn btn-sm btn-warning">Share</a>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-warning">Score</button>
                  <button type="button" class="btn btn-sm btn-outline-warning" th:text="${winner.get('totalScore')}">Score (design)</button>
                </div>
              </div>
            </div>
          </div>
        </th:block>
      </div>
    </div>
  </div>
</div>

<!-- Modal Window for Photo View -->
<div class="modal fade" id="photoView" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
    <div class="modal-content bg-dark rounded-4">
      <div class="modal-body">
        <img class="img-fluid" src="#" alt="#">
      </div>
      <div class="modal-footer">
        <div class="d-flex gap-2 w-100 justify-content-between py-1">
          <div class="btn-group">
            <button class="btn btn-warning text-truncate" type="button" style="width: 100px">Story</button>
            <button class="btn btn-outline-warning photo-story" type="button"></button>
          </div>
          <div>
            <div class="btn-group pt-1">
              <button class="btn btn-warning" type="button">Copy URL</button>
              <button class="btn btn-outline-warning copy-btn" type="button"><i class="bi bi-clipboard-fill"></i></button>
            </div>
            <div class="btn-group pt-1">
              <button class="btn btn-warning" type="button">Open IMG</button>
              <a href="#" class="btn btn-outline-warning" target="_blank"><i class="bi bi-image-fill"></i></a>
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>
</div>



<div th:replace="~{fragments/footer :: footer}"></div>
<script th:replace="~{fragments/scripts :: facebook-sharing}"></script>
<script th:replace="~{fragments/scripts :: photo-view}"></script>
<script th:replace="~{fragments/scripts :: bootstrap}"></script>
</body>
</html>