<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{email.sent}">Photo Contest</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body class="register-view d-flex flex-column min-vh-100">
<header th:replace="~{fragments/navbar :: header(context='email-sent')}"></header>
<div th:if="${requestURI.endsWith('/forgottenpassword')}" class="container mt-5 alert alert-info text-center" role="alert">
    We've sent a link to your email for password reset!
</div>
<div th:if="${requestURI.endsWith('/register')}" class="container mt-5 alert alert-info text-center" role="alert">
    We've sent a link to your email for account verification!
</div>
<div th:if="${requestURI.endsWith('/email')}" class="container mt-5 alert alert-info text-center" role="alert">
    We've sent a link to your new email for confirmation!
</div>
<div th:if="${requestURI.contains('/confirmation')}" class="container mt-5 alert alert-info text-center" role="alert">
    Account/Email verified!
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:replace="~{fragments/scripts :: bootstrap}"></script>
</body>
</html>
