<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="#{page.title.error}">Forum Management System</title>
  <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>

<body class="error-page">
<div>
  <span class='error-num text-warning'>5</span>
  <div class='eye'></div>
  <div class='eye'></div>
  <p class='alert alert-warning'>Something went wrong. We're <i>looking</i> to see what happened.</p>
  <a href='#' th:href="@{/}" class="btn btn-warning text-dark">Go back</a>
</div>

<script th:replace="~{fragments/scripts :: error-page}"></script>
</body>
</html>