<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{page.title.home}">Title (design)</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>

<body class="main-view d-flex flex-column min-vh-100">
    <header th:replace="~{fragments/navbar :: header(context='home')}"></header>
    <main>

    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script th:replace="~{fragments/scripts :: bootstrap}"></script>
</body>
</html>