<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="#{page.title.not-found}">Title (design)</title>
  <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>

<body class="error-page">
<div>
  <span class='error-num'>4</span>
  <div class='eye'></div>
  <span class='error-num'>4</span>
  <p class='alert alert-warning' th:text="${error}">Page Not Found</p>
  <a href='#' th:href="@{/}" class="btn btn-warning text-dark">Go back</a>
</div>

<script th:replace="~{fragments/scripts :: error-page}"></script>
</body>
</html>